extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum vel erat sed aliquam. Phasellus posuere felis sem, in condimentum ante facilisis ac. Aliquam efficitur tortor vel dolor aliquam, vitae dignissim mauris posuere. Nunc eleifend nec mauris eget elementum. 
                p Praesent tempus, erat vel eleifend feugiat, dolor velit ullamcorper tellus, a viverra leo metus non velit. Donec feugiat arcu dui, a interdum leo aliquet vitae. Duis lacus risus, dignissim malesuada odio sed, eleifend mollis sem. Aenean pharetra imperdiet pulvinar. Etiam euismod justo sed efficitur laoreet. Praesent consectetur dolor ut nulla blandit vulputate. Vivamus lacinia magna in arcu dignissim, ac fermentum tellus laoreet. Proin faucibus ipsum eget leo cursus, laoreet tempor nisl viverra. Nam vel urna sit amet risus maximus ultricies.
                 tortor ac turpis aliquam, ac elementum urna maximus. Donec efficitur in purus ut laoreet. Aliquam consequat quam sit amet sagittis malesuada. Fusce aliquet erat id pellentesque vulputate. Sed efficitur aliquet vehicula. Morbi id enim augue. Cras mollis convallis justo. Suspendisse at ultricies ex.

        .listado-iconos
            .container.mt-5.py-5.text-center 
                row 
                    col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Praesent tempus, erat vel eleifend feugiat, dolor velit ullamcorper tellus, a viverra leo metus non velit. Donec feugiat arcu dui, a interdum leo aliquet vitae. Duis lacus risus, dignissim malesuada odio sed, eleifend mollis sem. Aenean pharetra imperdiet pulvinar. Etiam euismod justo sed efficitur laoreet. Praesent consectetur dolor ut nulla blandit vulputate. Vivamus lacinia magna in arcu dignissim, ac fermentum tellus laoreet. Proin faucibus ipsum eget leo cursus, laoreet tempor nisl viverra. Nam vel urna sit amet risus maximus ultricies.
                    
                    col-md-4
                        img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Destinos
                        p Praesent tempus, erat vel eleifend feugiat, dolor velit ullamcorper tellus, a viverra leo metus non velit. Donec feugiat arcu dui, a interdum leo aliquet vitae. Duis lacus risus, dignissim malesuada odio sed, eleifend mollis sem. Aenean pharetra imperdiet pulvinar. Etiam euismod justo sed efficitur laoreet. Praesent consectetur dolor ut nulla blandit vulputate. Vivamus lacinia magna in arcu dignissim, ac fermentum tellus laoreet. Proin faucibus ipsum eget leo cursus, laoreet tempor nisl viverra. Nam vel urna sit amet risus maximus ultricies.
                    
                    col-md-4
                        img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Precios
                        p Praesent tempus, erat vel eleifend feugiat, dolor velit ullamcorper tellus, a viverra leo metus non velit. Donec feugiat arcu dui, a interdum leo aliquet vitae. Duis lacus risus, dignissim malesuada odio sed, eleifend mollis sem. Aenean pharetra imperdiet pulvinar. Etiam euismod justo sed efficitur laoreet. Praesent consectetur dolor ut nulla blandit vulputate. Vivamus lacinia magna in arcu dignissim, ac fermentum tellus laoreet. Proin faucibus ipsum eget leo cursus, laoreet tempor nisl viverra. Nam vel urna sit amet risus maximus ultricies.
                    